
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav bar  */
.navbar {
  width: 100%;
  height: 80px;
  background:black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  z-index: 100;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navlinks li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  
}
/* Hero Section */
.hero {
  height: 100vh;
  background: url("./image/garden.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 80px;

}

.hero-text {
  position: relative;
  color: white;
  z-index: 1000;
}
.hero-text:hover{
  text-shadow: black;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: bold;
}

.hero-text p {
  margin-top: 15px;
  font-size: 20px;
  color: #f1f1f1;
}
