/* Dhanasvi home section start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav bar  */
.navbar {
  width: 100%;
  height: 50px;
  background:black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  z-index: 100;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navlinks li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  
}
/* Hero Section */
.hero {
  width: 100%;
  height: 675px;
  background: url("./image/hero\ img.jpg") no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50px;


}
/* footer */
.footer{
  background-color: black;
  /* z-index: 122; */
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  
}

.footer p{
  color: white;
  align-items: center;
  justify-content: center;
}

/* faq section */
.faq-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  color: #000;
  border-radius: 10px;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

details {
  margin-bottom: 15px;
}

summary {
  font-size: 20px;
  font-weight: bold;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

/* dhanasvi home section end */
